@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f6f6;
  --foreground: #333333;
  --primary: #2a2a2a;
  --secondary: #666666;
  --accent: #d30c0c;
  --accent-hover: #a81730;
  --footer-bg: #2a2a2a;
  --text-color: #fff;
  --gold-color: #c29132
}

body {
  color: var(--foreground);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* Estilo para links */
a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-hover);
}

a:hover h2 {
  color: var(--accent-hover);
}

button {
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Cabeçalhos */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  font-weight: bold;
  margin: 0;
}

/* Texto secundário */
p,
span,
li {
  line-height: 1.6;
}

/* Rodapé */
footer {
  background-color: var(--footer-bg);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer>* {
  border-color: var(--secondary);
}

footer div {
  border-color: var(--secondary);
}


.loader {
  border: 16px solid var(--background);
  border-radius: 50%;
  border-top: 16px solid var(--accent);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #3b82f6;
  /* Cor azul do Tailwind */
}

.swiper-pagination-bullet {
  background-color: #3b82f6;
  /* Cor azul do Tailwind */
}

.swiper-pagination-bullet-active {
  background-color: #1d4ed8;
  /* Cor azul mais escura do Tailwind */
}