.wp-caption-text {
    font-size: 1em;
    font-style: italic;
    margin-top: 0.5em;
    text-align: right;
    margin-left: 20px;
}

.wp-caption {
    display: block;
}

.content {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 22px;
}

.title>* {
    font-size: 1.8em;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 800px) {
    .wp-caption {
        display: inline-block;
    }

}